
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script type="text/javascript" src="~/JavaScript/Alert2"></script>
</head>
<body>
    <div>
        JavaScipt Controller - Index View
    </div>
</body>
</html>
